html
    head
        title Lazy B Weather Analytics
        meta(http-equiv="refresh", content="60")
        //- script(src="./rain.js")
        style="body { background-image: url(./" + config.imageFileName + "?" + imageChecksum + "); }"
        link(rel="stylesheet", href="/style.css")        
    body
        canvas(id="container")
        div(class="center" style="background-color: rgba(" + palette + ", 0.75)")
            - var _ver = process.version
            div(class="rows")
                h1="Using node " + _ver
                h1="Updated: " + timestamp
                h1(class="underlined")="Uptime: " + uptime
            div(class="cols")
                //- video(autoplay='', loop='', muted='')
                    //- source(src='http://i.imgur.com/JqNIMcx.mp4', type='video/mp4')
                div(class="rows")
                    each val in measurements
                        p=val