html
    head
        title Weather Informatics
        meta(charset='utf-8')
        meta(http-equiv="refresh", content=(updateInterval/1000).toString())
        //- script(src="/rain.js")
        style.
            ::selection {
                background: rgb(!{image.palette});
            }
            body { 
                background-image: url("/!{imageFileName}?!{image.timestamp}"); 
            }
        //- :root { 
                //- --text-color: black; --shadow-color: black;
            //- }
        //- body:before {   
            //- box-shadow: inset 0 0 100vw 100vw rgba(!{image.palette},1);
            //- }
        link(rel="stylesheet", href="/style.css")        
    body
        div(class="center rows")
            div(class="rows")
                h1="As of " + weather.pretty.timestamp
                div(class="underlined")
                
                //-TO-DO:
                //-     Left justify measurement names
                //-     Right justfy values
                
                div(class="rows")
                    each val in weather.pretty.measurements
                        p=val
            div(class="cols" id="graphs").
                !{graphs.wind}
                
